*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
}

.navbar{
  background-color: green;
  color: white;
  padding: 8px 10px;
  white-space: nowrap;
}

.nav-header{
  
  display: flex ;
  justify-content: space-between;
}
.nav-logo{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 3%;
}



.menu-btn{
  display: none;
  background-color: transparent;
  border: none;
  height: 20px;
  width: 20px;
  font-size: 30px;
  cursor: pointer;

}

.navtitle {
  position: absolute;       /* independent of buttons */
  left: 50%;                /* move to center of parent */
  transform: translateX(-50%); /* truly center it */
  font-size: 22px;
  font-weight: bold;
  color: white;
  top: 8%;
}
.nav-links{
  display: flex;
  list-style: none;
  margin-top: 15px;
 
  
}
#navItemDropDown {
  position: absolute;
  top:0px  ;
  right:20px;
  z-index: 1000;

}

.UserIconBtn {

  background-color: rgb(7, 105, 7);
  padding: 15px ;
  border-radius:50%;
  border: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.dropDownUser {
  display: none;
  list-style: none;
  margin-left: 15px;
  text-decoration: none;
}

.dropDownUser li {
  padding: 8px 0;
}

.UserIconBtn:hover{
  display: column;
  background-color: rgb(6, 47, 94);
}

.nav-links li{
  margin: 10px;
  padding: 8px;
}

.nav-links a{
  background-color: rgb(7, 105, 7);
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-size: 18px;


}
.nav-links li a:hover{
   background-color: rgb(6, 47, 94);
}


 /*Responsiveness*/

 @media (max-width: 800px) {

 #navLinks .listlink{
  display:none
}
.menu-btn{
  display: block;
  margin-right: 2%;
  margin-top: 15%;
}




 
}







